@font-face {
    font-family: 'SEGA LOGO FONT';
    font-style: normal;
    font-weight: normal;
    src: local('SEGA LOGO FONT'), url('SEGA.woff') format('woff');
    }

h1 {
    font-family: 'SEGA LOGO FONT';
    font-weight: 200;
    color: #0ccac4;
}

.searchDiv {
    display: flex;
    justify-content: center;
}

#filterChoice {
    margin-left: 1em;
    margin-right: 1em;
    max-height: 2em;
    align-self: center;
}

.searchFor {
    color: #0ccac4;
    align-self: center;
}